body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
.Header{
  font-size: 40px;
  font-weight: bold;  
  text-align: center;
}
ol{
font-size: 18px;
color: blue;
}
h3{
    color: red;
    font-size: 25px bold;
}
.find{
    color: darkblue;
    font-size: 20px;
    font-weight: bolder;
    
}
h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.description{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: green;
}